$primaryAccentColor: #2196f3;
$primaryWhiteColor: #ffffff;
$primaryBlackColor: #000000;
$primaryTextColor: #757575;
$primaryTitleColor: #212121;
$primaryBgColor: #2f303a;

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
}
