@mixin marginRightNotLastCh($selector) {
  &:not(:last-child) {
    margin-right: #{$selector};
  }
}

@mixin hoverLink($color: $primaryAccentColor, $fill: $primaryAccentColor) {
  &:hover {
    color: #{$color};
    fill: #{$fill};
  }
}
@mixin focusLink($color: $primaryAccentColor, $fill: $primaryAccentColor) {
  &:focus {
    color: #{$color};
    fill: #{$fill};
  }
}
@mixin hoverBtn($color: $primaryAccentColor, $bgc: $primaryWhiteColor) {
  &:hover {
    color: #{$color};
    background-color: #{$bgc};
  }
}
@mixin focusBtn($color: $primaryAccentColor, $bgc: $primaryWhiteColor) {
  &:focus {
    color: #{$color};
    background-color: #{$bgc};
  }
}
